.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 1rem;
}

.modal-content {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 2rem;
  border-radius: 18px;
  max-width: 750px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  border: 1px solid #2a2a2a;
  box-shadow: 0 20px 50px rgba(245, 197, 24, 0.15);
  position: relative;
  font-size: 22px;
}

/* Title */
.modal-content h2 {
  /* font-size: 220px; */
  color: #f5c518;
  margin-bottom: 1rem;
}

/* Description */
.modal-content p {
  color: #d6d6d6;
  line-height: 1.6;
  text-align: justify;
}

.modal-content-description{
  font-size: 20px;
  text-align: justify;
}

/* Media */
.modal-content img,
.modal-content video {
  width: 100%;
  margin-top: 1.2rem;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
}

/* Links */
.modal-links {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.modal-links a {
  padding: 10px 18px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 1px solid #ffffff;
  font-size: 18px;
}


/* Close Button */
.close-btn {
  position: absolute;
  top: 12px;
  right: 18px;
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: #ffffff;
  /* cursor: pointer; */
  transition: 0.2s ease;
}

.close-btn:hover {
  color: #f5c518;
}