.skills-section-dark {
  background: #0f0f0f;
  padding: 80px 40px;
  text-align: center;
  color: white;
}

.skills-title {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
  color: #ffc107;
}

.skills-grid-dark {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: auto;
  /* cursor: pointer; */
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.skill-card-dark {
  background: #1c1c1c;
  padding: 30px 20px;
  border-radius: 12px;
  transition: 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.skill-card-dark:hover {
  transform: translateY(-8px);
  background: #252525;
}

.skill-icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #ffc107;
}

.skill-card-dark p {
  font-size: 16px;
  font-weight: 500;
}

.skill-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.skill-card-dark:hover .skill-logo {
  transform: scale(1.1);
}

.skills-section {
  background: #0d0d0d;
  padding: 100px 60px;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
}

.skills-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.skills-heading {
  font-size: 48px;
  font-weight: 700;
  color: #ffc107;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 40px;
}

.skill-card {
  background: #151515;
  padding: 35px 20px;
  border-radius: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  /* cursor: pointer; */
}

.skill-card:hover {
  transform: translateY(-10px);
  background: #1f1f1f;
}

.skill-card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.skill-card:hover img {
  transform: scale(1.1);
}

.skill-card p {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.vertical-wrapper {
  position: absolute;
  left: 5%;
  top: 55%;
  transform: translateY(-50%);
}

.vertical-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.vertical-text h1 {
  /* font-size: 28px; */
  letter-spacing: 4px;
  /* color: #ffc107; */
  margin: 0;
}

/* Yellow Line */
.vertical-border {
  width: 90px;
  height: 5px;
  background-color: #ffc107;
}